body{
    width: 100vw;
    height: 3600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-self:flex-start;
    align-items: baseline;
    position: relative;
}

@media screen and (max-width: 600px) {
   body{
     height: 4800px;
   }
}

@media screen and (max-width: 820px) {
    body{
        height: 4000px;
    }
}